<div class="list-group">
        <ol>
          <li class="list-group-item" ng-repeat="category in $ctrl.categories">
            <div style="font-weight: bold">{{ category.name }} </div>
            <div ng-if="category.special_instructions != ''">Special Instructions : {{category.special_instructions}}</div>
            <div ng-if="category.special_instructions === ''">Special Instructions : None</div>
            <br><button class="btn" ui-sref="items({itemId:$index})">Menu Items</button>
          </li>
        </ol>
</div>